<html>

  <head>
    <title>Welcome</title>   
  </head>

  <body>
    <h1 class="text-danger"><center>Bienvenue <%= params[:id] %> sur notre super 🦉 plateforme de gossips...</h1><center></br>
    <a href="/new" class="btn btn-outline-warning">Je crée un Gossip</a></br>
    <div class="container">
      <div class="row">
        <% @gossips.each do |gossip| %>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <div class="bg-light">
                <div class="card-body">
                  <h5 class="text-warning" class="card-title"><%= gossip.user.first_name %></h5>
                  <p class="card-text"><b><%= gossip.title %></b></p>
                  <a href="/gossipdetails/<%= gossip.id %>" class="btn btn-outline-danger">Voir plus</a> 
                </div>
              </div>
            </div></br>
          </div>
        <% end %>
      </div>
    </div>
  </body>

  <footer class="page-footer font-small grey">
    <div class="text-danger" class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/" class="text-danger"> Made with ♥ by Noé & Gauthier </a>
    </div></br>
  </footer>

</html>