<html>
  <head>
    <title>Welcome</title>   
  </head>

  <body>
    <h1 class="text-danger"><center>BIENVENUE <%= params[:id] %> sur notre super site de potins, il est 🦉 non ?</h1><center></br>
    <div class="container">
      <div class="row">
        <% @gossips.each do |gossip| %>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <div class="bg-light">
                <div class="card-body">
                  <h5 class="text-warning" class="card-title"><%= gossip.user.first_name %></h5>
                  <p class="card-text"><b><%= gossip.title %></b></p>
                  <a href="/static_pages/gossipdetails/<%= gossip.id %>" class="btn btn-outline-danger">Voir plus</a> 
                </div>
              </div>
            </div></br>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>